body {
    background-color: #0098FB;
    font-family: 'Roboto';
}

.table {
    
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.table tr {
    background-color: #FFFFFF;
}
.table tr:nth-child(even) {
    background-color: #EBEBEB;
}
.table th {
    background-color: #1B1F24;
    color: #FFFFFF;
    text-align: left;
}
.table th:first-child {
    border-top-left-radius: 10px;
}
.table th:last-child {
    border-top-right-radius: 10px;
}
.table td, .table th {
   
    padding: 10px;
}